@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome To The Jokes API</h1>
    <p class="lead">A simple console application that consumes the remote Jokes API and saves it in a database, then displays the result on a web page</p>
    <hr class="my-4">
    <p>Click on the <b>GetJokes</b> tab to see the list of jokes and get yourself a good laugh😅</p>
    <a class="btn btn-primary btn-lg" href="Jokes/GetJokes" role="button">GetJokes</a>
</div>